@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}
:root {
  --font-inter: 'Inter', sans-serif;
  --font-plex-mono: 'IBM Plex Mono', monospace;
}

body {
  font-family: var(--font-inter), sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 14px;
}